@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
}
body {
	background: #FBF9FB;
	font-size: 15px;
}
img {
	border-radius: 50%;
	box-shadow: 0 0 25px #E4E6E7;
}
.profile-picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	height: auto;
	max-width: 100px;
}
.profile-name {
	text-align: center;
	padding: 20px 0 30px 0;
	font-size: 20px;
}
.links {
	text-align: center;
	margin-top: 20px;
	padding: 20px;
	border-radius: 3px;
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: #39DF9B;
	color: #000;
	box-shadow: 0 0 20px #39DF9B;
}
.links:hover {
	width: 310px;
	transition: .10s;
	font-size: 17px;
}
.bottom-text {
	text-align: center;
	margin-top: 50px;
	font-size: 18px;
}
.bottom-text strong {
	text-align: center;
	margin-top: 50px;
	font-size: 20px;
	font-weight: bold;
}